; {{ ansible_managed }}

; configuration for php Custom settings
; priority=90

{% if php['core'] is defined %}
{% for setting, value in php['core']|dictsort(true) %}
{{ setting }} = {{ value }}
{% endfor %}
{% endif %}

{% if php['date'] is defined %}
[Date]
{% for setting, value in php['date']|dictsort(true) %}
date.{{ setting }} = {{ value }}
{% endfor %}
{% endif %}

{% if php['opcache'] is defined %}
[opcache]
{% for setting, value in php['opcache']|dictsort(true) %}
opcache.{{ setting }}={{ value }}
{% endfor %}
{% endif %}