#jinja2: lstrip_blocks: True
; {{ ansible_managed }}

; configuration for php {{ item.key }} module settings
; priority={% if item.key == "ALL" %}8{% else %}9{% endif %}0

{% for directive, value in item.value|dictsort(true) %}
    {% if value is string or value is number %}
{{ directive }} = {{ value }}
    {% elif value is iterable %}
[{{ directive }}]
        {% for subdirective, element in value|dictsort(true) %}
{{ directive | lower}}.{{ subdirective }} = {{ element }}
        {% endfor %}
    {% endif %}

{% endfor %}
